@import './base.css';
@import './variables.css';

a, a:link {
  text-decoration: none;
  color: var(--color-text-primary);
  cursor: pointer;
}

button {
  cursor: pointer;
}

button.icon-button {
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;

  &:hover {
    background-color: var(--background-hover-button-feedback);
  }

  &:active {
    background-color: var(--background-active-button-feedback);
  }
}