@import './base.css';
@import './variables.css';

.mt-md {
  margin-top: 2.4rem !important;
}

.mt-sm {
  margin-top: 1.8rem !important;
}

.mt-xs {
  margin-top: 1.2rem !important;
}

a, a:link {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

button {
  cursor: pointer;
}

button.icon-button {
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-text);
  border: none;

  &:hover {
    background-color: var(--background-hover-button-feedback);
  }

  &:active {
    background-color: var(--background-active-button-feedback);
  }
}